{% extends "include/base.html" %}
{% load user_filters %}
{% block title %}
    <title>
        Регистрация
    </title>
{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
{% include "include/header.html" %}
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
 <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}

                <div class="form__group">
                    <label class="form__label">
                        {{ field.label }}
                    </label>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>


</main>
{% endblock content %}
{% block footer %}
{% include "include/footer.html" %}
{% endblock %}

