{% extends "include/base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
  Сброс пароля
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
  {% include "include/header.html" %}
{% endblock %}
{% block content %}

  <main class="main container">
    <div class="main__header">
      <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
      <form class="form" method="post">
        {% csrf_token %}
        <p class="form__info-text">
          Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
        </p>
        <div class="form__group">
          {% for field in form %}
            <label  class="form__label">{{ field.label }}</label>
            <div class="form__field-group">
              {{ field | addclass:"form__input" }}
            </div>
          {% endfor %}
        </div>
        <div class="form__footer">
          <button type="submit" class="button button_style_blue">Сбросить пароль</button>
        </div>
      </form>
    </div>


  </main>
{% endblock content %}
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
