{% extends "include/base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
        Войти на сайт
{% endblock %}
{% block css %}
     <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
{% include "include/header.html" %}
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Восстановление пароля завершено!</h1>
    </div>
    <div class="form-container">
        <p class="form__info-text">
            Ваш пароль был сохранен. Теперь вы можете войти.
        </p>
    </div>
</main>
{% endblock content %}
{% block footer %}
{% include "include/footer.html" %}
{% endblock %}