<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block title %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body >
    {% csrf_token %}
    {% block header %}
    {% endblock %}
        <main class="main container">
        {% block content %}{% endblock content %}
        </main>
        {%include 'include/footer.html' %}
        {% block style %}
        {% endblock style %}
    </body>
</html>
