<header class="header">
    {% if user.is_authenticated %}
        <nav class="nav">
            <div class="nav__container container">
                <ul class="nav__items list">
                    <li class="nav__item nav__item_active"><a href="#" class="nav__link link">Рецепты</a></li>
                    <li class="nav__item"><a href="#" class="nav__link link">Мои подписки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link link">Создать рецепт</a></li>
                    <li class="nav__item"><a href="#" class="nav__link link">Избранное</a></li>
                    <li class="nav__item"><a href="#" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">4</span></li>

                </ul>
                    <ul class="nav__items list">
                        <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                    </ul>
            </div>
        </nav>
    {% else %}
        <nav class="nav">
            <div class="nav__container container">
                <ul class="nav__items list">
                    <li class="nav__item nav__item_disabled"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                    <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок</a></li>
                </ul>
                <ul class="nav__items list">
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
</header>