{% load thumbnail %}
{% load user_filters %}
<div class="card" data-id="{{ recipe.id }}">
  <a href="{% url 'recipe' recipe.slug %}" class="link">
    {% thumbnail recipe.image "480x480" as im %}
      <img src="{{ im.url }}" alt="Картинка" class="card__image"/>
    {% endthumbnail %}
  </a>
  <div class="card__body">
    <a class="card__title link" href="{% url 'recipe' recipe.slug %}">{{ recipe.name }}</a>
    <ul class="card__items">
      {% for tag in recipe.tags.all %}
        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.display_name }}</span></li>
      {% endfor %}
    </ul>
    <div class="card__items card__items_column">
      <p class="card__text"><span class="icon-time"></span> {{ recipe.time_cooking }} мин.</p>
      <p class="card__text"><span class="icon-user"></span>
        <a href="{% url 'author_recipe' recipe.author %}"
           style="color: black">{{ recipe.author.get_full_name }}
        </a>
      </p>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="card__footer">
      {% if user|bought_to:recipe %}
        <button class="button button_style_light-blue-outline" name="purchases"><span
            class="icon-check button__icon"></span> Рецепт добавлен
        </button>
      {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out><span
            class="icon-plus button__icon"></span>Добавить в покупки
        </button>
      {% endif %}
      <!--                Кнопка-->
      {% if user|fav_to:recipe %}
        <button class="button button_style_none" name="favorites"><span
            class="icon-favorite icon-favorite_active"></span></button>
      {% else %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
      {% endif %}
    </div>
  {% endif %}
</div>