{% load thumbnail %}
<div class="card" data-id= "{{ recipe.id }}">
    <a href="#" class="link" target="_blank">
        {% thumbnail recipe.image "480x480" as im %}
            <img src="{{ im.url }}" alt="Картинка" class="card__image"/>
        {% endthumbnail %}
    </a>
        <div class="card__body">
            <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tag.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                    {% endfor %}
                </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{ recipe.time_cooking }} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.get_full_name }}</a></p>
                    </div>
        </div>
            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            </div>
</div>