{% extends "include/base.html" %}
{% block title %}Рецепты{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}"/>
{% endblock %}
{% block header %}
{% include "include/header.html" %}
{% endblock %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'include/tags.html' %}
        </div>
        <div class="card-list">
            {% for recipe in page %}
                {% include "include/recipe_card.html" %}
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "include/paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </main>
{% endblock content %}
{% block footer %}
{% include "include/footer.html" %}
{% endblock %}
{% block style %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>

{% if user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
{% endif %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>

{% if user.is_authenticated %}
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}
{% endblock style %}



