{% extends "include/base.html" %}
{%  load static %}

{% block title %}Продуктовый помощник{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}"/>{% endblock %}

{% block header %}{% include "include/header.html" %}{% endblock %}

{% block content %}
<main class="main container">
    <h1>Продуктовый помощник</h1>
    <p>Данный сайт был разработан в целях изучения web технологий в рамках дипломного проекта.</p>
    <p> <a href="https://praktikum.yandex.ru/backend-developer/" target="_blank">Ссылка на курсы Yandex практикум - python разработчик</a></p>



</main>
{% endblock content %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}


