{% extends "include/base.html" %}
{%  load static %}

{% block title %}Об авторе{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}"/>{% endblock %}

{% block header %}{% include "include/header.html" %}{% endblock %}

{% block content %}
<main class="main container">
    <h1>Салют!!!</h1>
  <p>Меня зовут Виталий</p>
  <p>Я разработал backand часть этого сайта.</p>
  <p>Подробнее об используемых технологиях можно узнать в разделе <a href="{% url 'tech' %}">технологии</a>.
  <p>Заглянуть под капот этого сайта можно на моей страничке <a href="https://github.com/Gilions" target="_blank">GitHub</a>.
  Если есть предложения, замечания или ты разрабатываешь подобный сайт и тебе нужна помощь, напиши мне в <a href="https://www.facebook.com/profile.php?id=100007736194620" target="_blank">FaceBook</a>.</p>



</main>
{% endblock content %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}


